@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #007BFF;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    font-size: 16px;
}
ul li a:hover {
    background-color: #0056b3;
}